---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section class="flex justify-center items-center mx-auto">
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>Trusted by companies like</Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/mlLogo.webp"
                    width="100"
                    height="60"
                    alt="marios landscaping"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/808.webp"
                    width="100"
                    height="60"
                    alt="808 island grinds"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/bbb.webp"
                    width="100"
                    height="60"
                    alt="beauty by bea"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/brand-1.webp"
                    width="100"
                    height="60"
                    alt="cheryl clothing"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/pr.webp"
                    width="100"
                    height="60"
                    alt="parada restoration"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/tmbjj.webp"
                    width="100"
                    height="60"
                    alt="brazilian jiu-jitsu"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
        </div>
    </Container>
</section>
